body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.app{
    background-color: hwb(45deg 94% 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.app__body{
    display: flex;   
    margin-top: 20px;
    margin-left: 90px;
}